@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
.row + .row {
  margin-top: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Lao MN";
}

p {
  font-family: "Lato";
}

img {
  width: 100%;
}

a {
  font-size: 16px;
  text-decoration: none;
}

@media (min-width: 600px) {
  a {
    font-size: 24px;
    text-decoration: none;
  }
}

header {
  background-image: url(/src/img/background-header.png);
  background-size: cover;
  padding-top: 32px;
}

.logo-header {
  width: 100%;
  margin: 98 0px 56px 0px;
}

@media (min-width: 600px) {
  .logo-header {
    width: 80%;
    margin: 137 0 91px 50px;
  }
}

.text-about-us {
  /* Pour modifier la version small*/
  font-size: 20px;
  text-align: center;
  padding: 0 10px 10px 10px;
}

@media (min-width: 600px) {
  /* Pour modifier la version large*/
  .text-about-us {
    font-size: 29px;
    text-align: center;
    padding: 0 128px 39px 96px;
  }
}

main {
  background-color: #191919;
}

h1 {
  text-align: left;
  font-size: 25px;
  padding: 31px 76px 24px 0;
}

@media (min-width: 600px) {
  h1 {
    font-size: 50px;
    padding: 108px 0 131px 0;
  }
}

h2 {
  font-size: 48px;
  padding: 14px 0 4px 0;
  position: relative;
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px;
    padding: 14px 0 4px 0;
    position: relative;
    top: 0;
  }
}

.specialities-1 {
  max-width: 1000px;
  background-color: #0e0e0e;
  margin-bottom: 20px;
}

.décoration-speciality-one {
  z-index: 1;
  position: relative;
  top: 20px;
  left: 95px;
}

@media (max-width: 600px) {
  .décoration-speciality-one {
    display: none;
  }
}

.romarin-picture {
  position: relative;
  bottom: 65px;
  left: 100px;
}

@media (max-width: 600px) {
  .romarin-picture {
    display: none;
  }
}

.speciality-one-picture {
  position: relative;
  bottom: 290px;
}

@media (max-width: 600px) {
  .speciality-one-picture {
    position: relative;
    top: 0;
  }
}

.title-speciality-Clay {
  position: relative;
  bottom: 440px;
}

@media (max-width: 600px) {
  .title-speciality-Clay {
    position: relative;
    top: 0;
  }
}

.text-speciality-Clay {
  font-size: 30px;
  padding-bottom: 26px;
  position: relative;
  bottom: 440px;
}

@media (max-width: 600px) {
  .text-speciality-Clay {
    font-size: 18px;
    padding-bottom: 26px;
    position: relative;
    top: 0;
  }
}

.specialities-2 {
  background-color: #0e0e0e;
  margin-bottom: 20px;
}

.décoration-speciality-two {
  z-index: 2;
  position: relative;
  bottom: 180px;
  right: 60px;
}

@media (max-width: 600px) {
  .décoration-speciality-two {
    display: none;
  }
}

.lemon-picture {
  z-index: 1;
  position: relative;
  bottom: 300px;
}

@media (max-width: 600px) {
  .lemon-picture {
    display: none;
  }
}

.speciality-two-picture {
  position: relative;
  bottom: 470px;
}

@media (max-width: 600px) {
  .speciality-two-picture {
    position: relative;
    top: 0;
  }
}

.title-speciality-Red {
  position: relative;
  bottom: 610px;
}

@media (max-width: 600px) {
  .title-speciality-Red {
    position: relative;
    top: 0;
  }
}

.text-speciality-Red {
  font-size: 30px;
  padding-bottom: 26px;
  position: relative;
  bottom: 610px;
}

@media (max-width: 600px) {
  .text-speciality-Red {
    font-size: 17px;
    padding-bottom: 26px;
    position: relative;
    top: 0;
  }
}

.specialities-3 {
  display: block;
  background-color: #0e0e0e;
  margin-bottom: 20px;
}

.décoration-speciality-three {
  z-index: 1;
  position: relative;
  bottom: 350px;
}

@media (max-width: 600px) {
  .décoration-speciality-three {
    display: none;
  }
}

.orange-picture {
  position: relative;
  bottom: 480px;
}

@media (max-width: 600px) {
  .orange-picture {
    display: none;
  }
}

.speciality-three-picture {
  position: relative;
  bottom: 700px;
}

@media (max-width: 600px) {
  .speciality-three-picture {
    position: relative;
    top: 0;
  }
}

.title-speciality-Frolicking {
  position: relative;
  bottom: 800px;
}

@media (max-width: 600px) {
  .title-speciality-Frolicking {
    position: relative;
    top: 0;
  }
}

.text-speciality-Frolicking {
  font-size: 30px;
  padding-bottom: 48px;
  position: relative;
  bottom: 800px;
}

@media (max-width: 600px) {
  .text-speciality-Frolicking {
    font-size: 17px;
    padding-bottom: 28px;
    position: relative;
    top: 0;
  }
}

hr {
  height: 3px;
  background-color: #ff913b;
  border: none;
  position: relative;
  bottom: 480px;
}

@media (max-width: 600px) {
  hr {
    height: 3px;
    background-color: #ff913b;
    border: none;
    position: relative;
    top: 0;
  }
}

.slogan {
  position: relative;
  bottom: 490px;
  font-family: "Lao MN";
  font-size: 48px;
  text-align: center;
  padding-top: 39px;
}

@media (max-width: 600px) {
  .slogan {
    position: relative;
    top: 0;
    font-family: "Lao MN";
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
  }
}

.slogan span {
  color: white;
  font-size: 80px;
}

@media (max-width: 600px) {
  .slogan span {
    color: white;
    font-size: 40px;
  }
}

h3 {
  position: relative;
  bottom: 490px;
  font-size: 45px;
  margin-left: 30px;
}

@media (max-width: 600px) {
  h3 {
    position: relative;
    top: 0;
    font-size: 20px;
    margin-left: 30px;
  }
}

.reservation-background {
  background-image: url(/src/img/background\ reservation.png);
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 210px;
  width: 1024px;
  height: 899px;
}

@media (max-width: 600px) {
  .reservation-background {
    background-image: url(/src/img/background\ reservation.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    margin: 59px 0 34px 0;
    width: 517px;
    height: 460px;
  }
}

.reservation img {
  width: 100%;
  position: relative;
  top: 400px;
  left: 30px;
}

@media (max-width: 600px) {
  .reservation img {
    width: 75%;
    position: relative;
    top: 220px;
    left: 149px;
  }
}

.card-menu {
  background-image: url(/src/img/background\ menu.png);
  background-color: #0e0e0e;
  border-radius: 50px;
}

@media (max-width: 600px) {
  .card-menu {
    background-image: url(/src/img/background\ menu.png);
    background-size: cover;
    background-color: #0e0e0e;
    border-radius: 50px;
  }
}

h4 {
  font-size: 55px;
}

@media (max-width: 600px) {
  h4 {
    font-size: 28px;
    margin: 4px 0 26px 0;
  }
}

span {
  color: #ff913b;
  font-size: 70px;
}

@media (max-width: 600px) {
  span {
    font-size: 40px;
  }
}

.title-menu {
  padding: 33px 0px 68px 20px;
}

@media (max-width: 600px) {
  .title-menu {
    padding: 4px 0px 26px 128px;
  }
}

h5 {
  font-size: 35px;
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  h5 {
    font-size: 18px;
    margin-left: 11px;
    margin-bottom: 0px;
  }
}

.text-menu {
  font-size: 25px;
  margin-bottom: 94px;
}

@media (max-width: 600px) {
  .text-menu {
    font-size: 15px;
    margin-left: 11px;
    margin-bottom: 18px;
  }
}

.last-text-menu {
  padding-bottom: 32px;
  font-size: 15px;
  margin-left: 11px;
  margin-bottom: 18px;
}

.price {
  font-family: "Lao MN";
  color: #ff913b;
  font-weight: bold;
  font-size: 35px;
}

@media (max-width: 600px) {
  .price {
    font-family: "Lao MN";
    color: #ff913b;
    font-weight: bold;
    font-size: 15px;
  }
}

.button-menu {
  z-index: 1;
  width: 100%;
  position: relative;
  bottom: 100px;
  left: 10px;
  margin-bottom: 104px;
}

@media (max-width: 600px) {
  .button-menu {
    z-index: 1;
    width: 100%;
    position: relative;
    bottom: 70px;
    left: 80px;
    right: 10px;
    margin-bottom: 70px;
  }
}

footer {
  background-color: #0e0e0e;
  padding: 32px 0;
}

.title-contact {
  margin: 45px 0 41px 0;
  position: relative;
  right: 75px;
}

@media (max-width: 600px) {
  .title-contact {
    margin: 35px 0 21px 0;
    position: relative;
    right: 0;
  }
}

.text-contact p {
  font-family: "Lao MN";
  font-size: 25px;
}

@media (max-width: 600px) {
  .text-contact p {
    font-family: "Lao MN";
    font-size: 13px;
  }
}

.media {
  width: 70%;
  padding-bottom: 108px;
}

@media (max-width: 600px) {
  .media {
    width: 100%;
    padding-bottom: 0px;
  }
}

.signature {
  font-size: 20px;
  font-family: "Lao MN";
}

@media (max-width: 600px) {
  .signature {
    font-size: 10px;
    position: relative;
    bottom: 25px;
  }
}

.line-footer {
  width: 2.1px;
}

@media (max-width: 600px) {
  .line-footer {
    width: 1.3px;
  }
}
